<h3>My Popular Repositories</h3>
{% if site.github.public_repositories != null %}
{% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse%}
{% for wiki in site.wiki %}
{% if wiki.title != "Wiki Template" %}
<a href="{{ site.url }}{{ wiki.url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ wiki.title }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ wiki.title }}
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ wiki.description }}</p>
            </div>
            <div class="card-text">
                <span class="meta-info" title="Last updated：{{ wiki.date }}">
                    <span class="octicon octicon-clock"></span>
                 
                </span>
            </div>
        </div>
    </div>
</a>
{% endif %}
{% endfor %}
{% endif %}
