<h1>近期课程</h1>
{% assign id = 0 %}

{% for course in site.courses %}

{% assign id = id | plus: 1 %}

{% if course.title != "Course" %}
<a href="{{ site.url }}{{ course.url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image" id="{{id}}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ course.title }}
                </h3>
            <script>
				document.getElementById("{{id}}").style.background = "green";
			</script>
	        </div>
	    </div>
	    <div class="caption" style="padding-bottom: 0px;">
	        <div class="card-description" >
	            <p class="card-text" style="margin-block-start: 0em;margin-block-end: 0em">{{ course.description }}</p>
	        </div>
	        <div class="card-text">
	            <span class="meta-info" title="Last updated：{{ course.date }}">
<h3 style="margin-top: 0px; margin-bottom: 0px"><p  class="{{course.class}}" style="margin-block-start: 0px; margin-block-end: 0px" ></p></h3>
  <script>
  
	document.getElementById("{{id}}").style.background = "green";
		
      function {{course.function}}() {
          countDown();

          function addZero(i) {
              return i < 10 ? "0" + i: i + "";
          }
          function countDown() {
         
              var deadLine = "{{course.date}}".substr(0,19);
              var nowtime = new Date();
              var endtime = new Date("deadLine");
              var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000);
              var d = parseInt(lefttime / (24*60*60))
              var h = parseInt(lefttime / (60 * 60) % 24);
              var m = parseInt(lefttime / 60 % 60);
              var s = parseInt(lefttime % 60);
              d = addZero(d)
              h = addZero(h);
              m = addZero(m);
              s = addZero(s);
              document.querySelector(".{{course.class}}").innerHTML = `作业倒计时  ${d} 天 ${h} 时 ${m} 分 ${s} 秒`;
              if (lefttime <= 0) {
                  document.querySelector(".{{course.class}}").innerHTML = "作业已截止！";
                  return;
              }
              setTimeout(countDown, 1000);
            }
        }
    </script>    
	            </span>
	        </div>
	    </div>
	</div>
</a>
{% endif %}
{% endfor %}

<script>    
      window.onload=function(){
  		{% for course in site.courses %}
  		  	{{course.function}}();
		{% endfor %}
      } 

</script>
