<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/posts/default.css">

<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.knob.js"></script>
<script src="{{ site.url }}/assets/js/jquery.throttle.js"></script>
<script src="{{ site.url }}/assets/js/jquery.classycountdown.js"></script>

<style>
	.ClassyCountdownDemo { margin:0 auto 30px auto; max-width:800px; width:calc(100%); padding:30px; display:block }
	#countdown2 { background:#FFF }
	#countdown3 { background:rgb(52, 73, 94) }
	#countdown4 { background:#222 }
	#countdown5 { background:#222 }
	#countdown6 { background:#222 }
	#countdown7 { background:#222 }
	#countdown8 { background:#222 }
	#countdown9 { background:#FFF }
	#countdown10 { background:#3498db }
</style>

<link rel="stylesheet" type="text/css" href="/assets/css/posts/jquery.classycountdown.css" />

<div id="countdown18" class="ClassyCountdownDemo"></div>

<h1>近期课程</h1>
{% for course in site.courses %}
{% if course.title != "Course" %}
<a href="{{ site.url }}{{ course.url }}" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ course.title }}">
            <div class="card-image-cell">
                <h2>course.title</h2>

<script type="text/javascript">
$(document).ready(function() {
	
	var deadLine = "{{page.deadline}}".substr(0,19);
	var date=new Date(deadLine);
	var unixTime = parseInt((date.valueOf() - $.now()) / 1000);

	$('#countdown18').ClassyCountdown({
		theme: "flat-colors-black",
		end: $.now() + unixTime
	});
});
</script>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ course.description }}</p>
            </div>
            <div class="card-text">
                <span class="meta-info" title="Last updated：{{ course.date }}">
                    <span class="octicon octicon-clock"></span>
                 	<time datetime="{{ course.date }}">{{ course.date | date: '%Y-%m-%d' }}</time>
                </span>
            </div>
        </div>
    </div>
</a>
{% endif %}
{% endfor %}
