<h1>近期作业</h1>
{% assign id = 0 %}

{% for task in site.tasks %}

{% assign id = id | plus: 1 %}

{% if task.title != "Course" %}
<a class="card text-center">
    <div class="thumbnail">
        <div class="card-image" id="{{id}}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    {{ task.title }}
                </h3>
            <script>
		document.getElementById("{{id}}").style.background = "green";
			</script>
	        </div>
	    </div>
	    <div class="caption" style="padding-bottom: 0px;">
	        <div class="card-description" >
		<h3 style="font-weight: normal">
	            <p class="card-text" style="margin-block-start: 0em;margin-block-end: 0em">{{ task.description }}</p>
		</h3>
	        </div>
	        <div class="card-text">
	            <span class="meta-info" title="截止日期：{{ task.date }}">
<h4 style="margin-top: 0px; margin-bottom: 0px"><p  class="{{task.class}}" style="margin-block-start: 0px; margin-block-end: 0px" ></p></h4>
  <script>
		
      function {{task.function}}() {
          countDown();

          function addZero(i) {
              return i < 10 ? "0" + i: i + "";
          }
          function countDown() {
         
              var deadLine = "{{task.date}}".substr(0,19);
              var nowtime = new Date();
              var endtime = new Date(deadLine.replace(/-/g, "/"));
              var lefttime = parseInt((endtime.getTime() - nowtime.getTime()) / 1000);
              var d = parseInt(lefttime / (24*60*60))
              var h = parseInt(lefttime / (60 * 60) % 24);
              var m = parseInt(lefttime / 60 % 60);
              var s = parseInt(lefttime % 60);

              
              if (d == 0) {
              	document.getElementById("{{id}}").style.background = "#dc3545";
              }
              
              if (d >= 1 && d < 2) {
              	document.getElementById("{{id}}").style.background = "#ffc107";
              }
              
              if (d >=2) {
              	document.getElementById("{{id}}").style.background = "#28a745";
              }             

              document.querySelector(".{{task.class}}").innerHTML = `任务截止还有  ${d} 天 ${h} 小时 ${m} 分 ${s} 秒`;
              if (lefttime <= 0) {
              	  document.getElementById("{{id}}").style.background = "#6c757d";
                  document.querySelector(".{{task.class}}").innerHTML = "任务已截止！";
                  return;
              }
              setTimeout(countDown, 1000);
            }
        }
    </script>    
	            </span>
	        </div>
	    </div>
	</div>
</a>
{% endif %}
{% endfor %}

<script>    
      window.onload=function(){
  		{% for task in site.tasks %}
  		  	{{task.function}}();
		{% endfor %}
      } 

</script>
