<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HTML5多款圆形进度条倒计时插件 - 站长素材</title>

<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/posts/default.css">

<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/jquery.knob.js"></script>
<script src="{{ site.url }}/assets/js/jquery.throttle.js"></script>
<script src="{{ site.url }}/assets/js/jquery.classycountdown.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/posts/jquery.classycountdown.css" />

<style>
	.ClassyCountdownDemo { margin:0 auto 30px auto; max-width:800px; width:calc(100%); padding:30px; display:block }
	#countdown2 { background:#FFF }
	#countdown3 { background:rgb(52, 73, 94) }
	#countdown4 { background:#222 }
	#countdown5 { background:#222 }
	#countdown6 { background:#222 }
	#countdown7 { background:#222 }
	#countdown8 { background:#222 }
	#countdown9 { background:#FFF }
	#countdown10 { background:#3498db }
</style>
<!--[if IE]>
<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>

<div id="countdown18" class="ClassyCountdownDemo"></div>


<script type="text/javascript">
$(document).ready(function() {
	
	var date=new Date("2020-02-22T00:00:00");
	var unixTime = parseInt(date.valueOf());

	$('#countdown18').ClassyCountdown({
		theme: "flat-colors-black",
		end: unixTime
	});
});
</script>

</body>
</html>
